.settings-container {
    width: 100%;

    .bill-preview,
    .cards {
        margin: 10px;
        height: 100vh;
        display: inline-block;
        width: 48%;
    }

    .cards {
        overflow-y: scroll;
        overflow-x: hidden;

        .card {
            margin: 50px auto 0;
            width: 100%;
            font-size: 1.3rem;

        }
    }
}

@media screen and (max-width: 700px) {
    .settings-container {
        width: 100%;

        .bill-preview {
            display: none;
        }

        .cards {
            width: 100%;
        }
    }
}